<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Cegah loop tak terbatas: jangan lakukan rewrite jika request sudah mengarah ke folder public
    RewriteCond %{REQUEST_URI} !^/public/
    
    # Kirim seluruh lalu lintas web secara transparan ke folder public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
